<mat-accordion multi=true *ngIf="posts.length > 0">
        <mat-expansion-panel *ngFor="let post of posts">
            <mat-expansion-panel-header >
            <!--     The expansion title -->
            {{ post.title }}
    </mat-expansion-panel-header>
        <mat-panel-description>
            <!-- <p>In the expansion panel</p> -->
            <p>{{ post.content }}</p>
        </mat-panel-description>
    </mat-expansion-panel>
</mat-accordion>
<p class="info-text mat-body-1" *ngIf="posts.length <=0  ">No Posts defined</p>