<!-- <textarea rows="6" [value]="newPost"#postInput></textarea> -->
<mat-card>

        <form (submit)="onAddPost(postForm)" #postForm="ngForm">

                <mat-form-field>
                        <input matInput type="text" name="title" ngModel required>
                </mat-form-field>
                <hr>    
                <mat-form-field>
                        <textarea matInput rows="2" name="content" ngModel required>
                </textarea>
                </mat-form-field>
                <hr>
              <button mat-raised-button color="accent" type="Submit">Save Post</button>

        </form>

</mat-card>